@import "../../style.scss";
.leftBar {
  @include themify($themes) {
    li{
      list-style: none !important;
    }
    a{
      text-decoration: none !important;
    }
    
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile{
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
          }
          
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
          }

          span {
            font-size: 14px;
          }
          .profileHolder{
            font-size: 14px;
            margin-bottom: 120px !important;
            padding: 12px;
          }
        }
      }
      .messageWrapper {
  .message-Holder {
    background-color: #f5f5f5;
    border-radius: 5px;
    word-wrap: break-word;
    position: relative;

  }
  .date {
    color: #999;
    font-size: 10px;
    display: inline-flex;
    gap: 40px;
  }
}
    }
  }
}
